<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>LMS CETI</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/sidebars.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	<!-- Custom styles for this template -->
        <link href="sidebars.css" rel="stylesheet">
    </head>

    <body>
        <main class="d-flex flex-nowrap"> 
            
            <!--Content-->
            <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example"></div>		
		<div class="container pt-5">
		        <!-- form handling -->
		        <table class="table ">
		        	<thead class="thead-dark ">
				  		<tr>
		                    			<th scope="col">Nombre</th>
		                  			<th scope="col">Apellido</th>
		                   			<th scope="col">Correo</th>
		                   			<th scope="col">Nacimiento</th>
		                    			<th scope="col">CURP</th>
		                  			<th scope="col">Antidopaje</th>
		                   			<th scope="col">Cert. Secundaria</th>
		                   			<th scope="col">Cert. Nacimiento</th>
							<th scope="col">Aceptar</th>
		
						</tr>
		                </thead>
		                
		
				<tbody>
					<% for(var i=0; i< postulates.length; i++){ %>			
			        	        	<tr>
								<form action="/api/postulateRevision" method="POST" class="table-responsive" id="form1">
								<td><input type="text" value="<%= postulates[i].firstname %>" readonly="readonly" name="firstname"/></td>
			       		             		<td><%= postulates[i].lastname %></td>
			                    			<td><input type="text" value="<%= postulates[i].email %>" readonly="readonly" name="email"/></td>
			                	    		<td><input type="text" value="<%= postulates[i].birthday.substring(0,10) %>" readonly="readonly" name="birthday" /></td>
					  			</form>
								<td>
									<form action="/api/postulate/curp/<%= postulates[i]._id %>" method="GET" class="table-responsive" id="formCurp">
										<button class="btn btn-primary" type="submit" form="formCurp">
											<i class="bi bi-download"></i>								
										</button>
									</form>
								</td>
								<td>
									<form action="/api/postulate/antidoping/<%= postulates[i]._id %>" method="GET" class="table-responsive" id="formAntidoping">
										<button class="btn btn-primary" type="submit" form="formAntidoping">
											<i class="bi bi-download"></i>								
										</button>
					  				</form>
								</td>
								<td>
									<form action="/api/postulate/highschoolCertificate/<%= postulates[i]._id %>" method="GET" class="table-responsive" id="formCertHighSchool">
										<button class="btn btn-primary" type="submit"form="formCertHighSchool">
											<i class="bi bi-download"></i>								
										</button>
					  				</form>
								</td>
								<td>
									<form action="/api/postulate/birthdayCertificate/<%= postulates[i]._id %>" method="GET" class="table-responsive" id="formCertBirthday">
										<button class="btn btn-primary" type="submit"form="formCertBirthday">	
											<i class="bi bi-download"></i>								
										</button>
					  				</form>
								</td>
								<td>
									<button type="submit" class="btn btn-success" form="form1">
										<i class="bi bi-check"></i>		
									</button>
								</td>
							</tr>
					<% } %>
		                </tbody>
			</table>

		</div>
	    </div>
            <script src="js/bootstrap.bundle.min.js"></script>  
            <script src="js/sidebars.js"></script>  
        </main>
    </body>
</html>
